week1/SimpleOpenMPExperiment
week1/SimpleOpenMPExperiment.ld_s60zxd
week2/montecarlo
week2/proj1.csv
week3/error.csv
week3/result.csv
project1/montecarlo.dSYM
montecarlo
project2/main.dSYM
main
project3/main.dSYM
project3/Function.dSYM
error.csv
Function
result.csv
project3/GameFunction.dSYM
GameFunction
project3/run_script.dSYM
